<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <title>Ayush Kumar - Portfolio</title>
  </head>
  <body>
    <div class="main">
      <div class="main-left-div">
        <div class="main-left-div-upper">
          <div class="my-img">
            <img src="/img.jpg" alt="Ayush-Kumar" />
          </div>
          <div class="my-name">
            <h2>Ayush Kumar</h2>
          </div>
          <div class="connect-links">
            <ul class="connect">
              <li class="connect-items">
                <a href="/" class="connect-item-links"
                  ><i class="fas fa-download"></i
                ></a>
              </li>
              <li class="connect-items">
                <a href="/" class="connect-item-links"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
              <li class="connect-items">
                <a href="/" class="connect-item-links"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li class="connect-items">
                <a href="/" class="connect-item-links"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
              <li class="connect-items">
                <a href="/" class="connect-item-links"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-left-div-lower"></div>
      </div>
      <div class="main-right-div">
        <div class="nav">
          <div class="nav-left">
            <h2>About Me</h2>
          </div>
          <div class="nav-right">
            <a class="nav-items" href="/">Home</a>
            <a class="nav-items" href="/about">About</a>
            <a class="nav-items" href="/portfolio">Portfolio</a>
            <a class="nav-items" href="/trainings">Trainings and Certificate</a>
            <a class="nav-items" href="/contact">Contact</a>
          </div>
        </div>
        <div class="current-item"></div>
      </div>
    </div>
  </body>
</html>
