* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #222831;
  --color-secondary: #00fff5;
  --color-grey: #393e46;
  --color-teal: #00adb5;
  --color-white: #fff;
  --color-black: #000;
  --color-light-coral: #f08080;
  --var-transition: all 0.3s ease-in-out;
}

/* MAIN (INDEX) */
.main {
  display: flex;
  padding: 3rem;
  background-color: var(--color-primary);
  gap: 1.5rem;
  height: 100vh;
  .main-left-div {
    border-radius: 20px;
    flex: 10%;
    background-color: var(--color-grey);
    padding: 1.2rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    // clip-path: polygon(100% 0, 93% 51%, 100% 100%, 0 100%, 7% 50%, 0 0);
    .main-left-div-upper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      .my-info {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
        .my-img {
          padding: 0.6rem;
          transition: var(--var-transition);
          img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: var(--var-transition);
            filter: grayscale(100%);
            &:hover {
              padding: 1rem;
              background-color: var(--color-teal);
              filter: grayscale(0);
            }
          }
        }
        .my-name {
          color: var(--color-secondary);
          transition: var(--var-transition);
          &:hover {
            transform: translateY(-5px);
            transition: var(--var-transition);
          }
        }
      }
      .connect-links {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        padding: 20px;
        .hamburger {
          display: none;
          flex-direction: column;
          cursor: pointer;
          .bar {
            width: 50px;
            height: 5px;
            background-color: var(--color-secondary);
            margin: 4px 0;
          }
        }
        .connect {
          list-style-type: none;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.2rem;
          .connect-items {
            .connect-item-links {
              text-decoration: none;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              font-size: 1.5rem;
              border-radius: 25%;
              background-color: var(--color-primary);
              color: var(--color-white);
              transition: var(--var-transition);
              svg {
                padding: 0.2rem;
                fill: var(--color-white);
              }
              &:hover {
                background-color: var(--color-black);
                i {
                  color: var(--color-light-coral);
                  transition: var(--var-transition);
                }
                svg {
                  fill: var(--color-light-coral);
                  transition: var(--var-transition);
                }
              }
            }
          }
        }
      }
    }
  }
  .main-right-div {
    flex: 75%;
    border-radius: 20px;
    background-color: var(--color-grey);
    // clip-path: polygon(100% 0, 98% 50%, 100% 100%, 0 100%, 0 51%, 0 0);
    overflow-y: auto;
    height: 90vh;
    .nav {
      display: flex;
      .nav-left {
        flex: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-title {
          text-align: center;
          h2 {
            position: relative;
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0.5rem 0.3rem;
            background-color: var(--color-primary);
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 1px 1px 20px var(--color-secondary);
            .current-title {
              color: var(--color-secondary);
              word-spacing: 0.5rem;
            }
          }
        }
      }
      .nav-right {
        flex: 60%;
        background-color: var(--color-primary);
        border-end-start-radius: 20px;
        border-start-end-radius: 20px;
        display: flex;
        justify-content: space-between;
        .hamburger-icon {
          display: none;
          flex-direction: column;
          cursor: pointer;
          .bar {
            width: 50px;
            height: 5px;
            background-color: var(--color-secondary);
            margin: 4px 0;
          }
        }
        .nav-right-links {
          width: 100%;
          display: flex;
          border-end-start-radius: 20px;
          border-start-end-radius: 20px;
          justify-content: space-around;
          align-items: center;
          .nav-items {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            color: var(--color-secondary);
            text-decoration: none;
            font-size: 1.2rem;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              transform: scale(1.15);
              transition: all 0.3s ease-in-out;
              color: var(--color-light-coral);
            }
          }
        }
      }
    }
  }
}

/* HOME PAGE */
.home-section {
  .header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 75vh;
    .left-header {
      display: flex;
      align-items: center;
      position: relative;
      .h-shape {
        transition: var(--var-transition);
        width: 65%;
        background-color: var(--color-light-coral);
        position: absolute;
        clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
        height: 100%;
      }
      .image {
        height: 90%;
        width: 70%;
        margin: 0 4rem;
        transition: var(--var-transition);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          transition: var(--var-transition);
          filter: grayscale(1);
        }
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
        .h-shape {
          background-color: var(--color-primary);
        }
      }
    }

    .right-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 3rem;
      color: var(--color-white);
      .name {
        font-size: 3rem;
        span {
          color: var(--color-secondary);
        }
      }
      p {
        margin: 1rem;
        padding: 0.8rem 0.2rem;
        line-height: 1.5rem;
        span {
          color: var(--color-secondary);
          font-weight: 600;
        }
      }
    }
  }
}

/* ABOUT PAGE */
.about-section {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .about-container {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 2rem;
    .left-about {
      p {
        padding: 0.2rem 1rem 1rem 1rem;
        color: var(--color-white);
        span {
          font-weight: 600;
          color: var(--color-secondary);
        }
      }
      .resume-download {
        font-size: 1.2rem;
      }
    }
    .right-about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
      .about-item {
        box-shadow: 1px 2px 15px var(--color-primary);
        border-radius: 10px;
        transition: var(--var-transition);
        display: flex;
        &:hover {
          cursor: default;
          transform: scale(1.02);
          transition: var(--var-transition);
          box-shadow: 1px 2px 15px var(--color-secondary);
        }
        .abt-icon {
          width: 30%;
          background-color: var(--color-primary);
          border-start-start-radius: 10px;
          border-end-start-radius: 10px;
          img {
            width: 100%;
            padding: 1rem 0.4rem;
            transition: var(--var-transition);
            filter: grayscale(1);
          }
          &:hover {
            img {
              filter: grayscale(0);
              transition: var(--var-transition);
              transform: translateY(-10px);
            }
          }
        }
        .abt-text {
          width: 70%;
          display: flex;
          flex-direction: column;
          padding: 0.2rem 0.4rem;
          .large-text {
            padding-top: 5rem;
            padding-left: 3rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--color-secondary);
          }
          .small-text {
            text-transform: uppercase;
            font-size: 1.3rem;
            color: var(--color-teal);
          }
        }
      }
    }
  }
  .tech-stacks {
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .tech-stacks-title {
      color: var(--color-secondary);
    }
    .tech-stacks-outer-container {
      align-self: center;
      max-width: 75%;
      .tech-stacks-container {
        display: flex;
        padding: 1rem;
        gap: 2rem;
        overflow-x: auto;
        .tech-stacks-item {
          scroll-snap-align: start;
          min-width: 30%;
          cursor: pointer;
          img {
            max-width: 100%;
            filter: grayscale(1);
            transition: var(--var-transition);
            padding: 5px;
            &:hover {
              filter: grayscale(0);
              transform: translateY(-5px);
              transition: var(--var-transition);
            }
          }
        }
      }
    }
  }
  .timeline {
    border-radius: 20px;
    padding: 1rem;
    .stat-title {
      color: var(--color-secondary);
      font-size: 1.2rem;
      margin: 1.5rem 0;
    }
    .timeline-item {
      position: relative;
      padding-left: 3rem;
      border-left: 2px solid var(--color-black);
      .tl-icon {
        position: absolute;
        left: -27px;
        top: 10px;
        background-color: var(--color-teal);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 1.4rem;
        }
      }
      .tl-duration {
        padding: 0.2rem 0.6rem;
        background-color: var(--color-teal);
        display: inline-block;
        text-transform: uppercase;
        border-radius: 10px;
      }
      h5 {
        padding: 1rem 0.5rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-white);
        span {
          color: var(--color-secondary);
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
      p {
        color: var(--color-white);
      }
      .hover-items {
        width: 90%;
        height: 100%;
        position: absolute;
        background-color: var(--color-teal);
        // margin: auto;
        top: 0;
        // border-radius: 15px;
        border-end-end-radius: 15px;
        border-start-start-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: var(--var-transition);
        h3 {
          font-size: 1.5rem;
          color: var(--color-white);
          margin-bottom: 1rem;
        }
        .icon {
          background-color: white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: var(--var-transition);
          i {
            font-size: 2rem;
            color: var(--color-teal);
            margin: 0 1rem;
          }

          &:hover {
            transform: scale(1.2);
            i {
              transform: scale(1.2);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
    .timeline-item:hover .hover-items {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* PORTFOLIO PAGE */
.portfolio-section {
  .port-text {
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-white);
  }

  .portfolios {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    .portfolio-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.2rem;
      .portfolio-item-image {
        position: relative;
        transition: var(--var-transition);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 10px;
          transition: var(--var-transition);
          filter: grayscale(1);
        }
        .hover-items {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 15px;
          opacity: 0;
          transition: var(--var-transition);
          p {
            color: var(--color-secondary);
            font-weight: bolder;
            border-radius: 10px;
            padding: 0.5rem;
            background-color: var(--color-primary);
          }
          .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            .icon {
              background-color: var(--color-secondary);
              border-radius: 25%;
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              text-decoration: none;
              i {
                font-size: 1.8rem;
                color: var(--color-grey);
                margin: 0 1rem;
              }
              &:hover {
                background-color: var(--color-grey);
                transform: scale(1.12);
                i {
                  color: var(--color-secondary);
                  transform: scale(1.12);
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
        &:hover {
          background-color: var(--color-primary);
          transition: var(--var-transition);
          box-shadow: 1px 1px 20px var(--color-secondary);
          cursor: pointer;
          .hover-items {
            transition: all 0.3s ease-in-out;
            opacity: 1;
          }
          img {
            transition: all 0.3s ease-in-out;
            opacity: 0.8;
            filter: grayscale(0);
            padding: 0.4rem 0.8rem;
          }
        }
      }
      .portfolio-item-about {
        padding: 0.5rem 1rem;
        h3 {
          color: var(--color-white);
          font-size: 1.8rem;
        }
        span {
          font-size: 1rem;
          color: var(--color-black);
          letter-spacing: 1.5px;
          word-spacing: 1.5px;
          font-weight: 600;
        }

        p {
          letter-spacing: 1.5px;
          color: var(--color-white);
        }
      }
    }
  }
}

/* CERTIFICATION PAGE */
.certification-section {
  padding: 1rem;
  .trainings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    .training {
      position: relative;
      background-color: var(--color-primary);
      border-start-end-radius: 15px;
      border-end-start-radius: 15px;
      transition: all 0.3s ease-in-out;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
        max-height: 100%;
        border-end-end-radius: 20px;
        border-start-start-radius: 20px;
        filter: grayscale(1);
        transition: var(--var-transition);
      }
      .training-text {
        padding: 1.1rem;
        h4 {
          font-size: 1.5rem;
          margin-bottom: 0.7rem;
          transition: var(--var-transition);
          cursor: pointer;
          color: var(--color-teal);
        }
        p {
          color: var(--color-white);
          line-height: 1.5rem;
          span {
            font-weight: 700;
            color: var(--color-secondary);
          }
        }
      }
      &:hover {
        box-shadow: 1px 1px 20px var(--color-secondary);
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
        border-start-start-radius: 15px;
        border-end-end-radius: 15px;
        border-start-end-radius: 0;
        border-end-start-radius: 0;
        img {
          filter: grayscale(0);
          transform: scale(1.05);
          box-shadow: 0px 4px 15px var(--color-white);
        }
        .training-text {
          h4 {
            transform: translateY(-5px);
            color: var(--color-secondary);
          }
        }
      }
    }
  }
}

/* CONTACT PAGE */
.contact-section {
  padding: 1rem;
  .contact-content-con {
    display: flex;
    gap: 1.5rem;
    .left-contact {
      flex: 2;
      padding: 0.5rem 1rem;
      // border-right: 2px solid var(--color-secondary);
      h4 {
        margin-top: 1rem;
        font-size: 2rem;
        color: var(--color-secondary);
        text-transform: uppercase;
      }
      p {
        margin: 1rem 0;
        line-height: 2rem;
        font-weight: 700;
        color: white;
        span {
          color: var(--color-secondary);
        }
      }
      .contact-info {
        .contact-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "Courier New", Courier, monospace;
          p {
            margin: 0.3rem 0 !important;
            padding: 0 !important;
          }
          .icon {
            display: grid;
            grid-template-columns: 40px 1fr;
            color: var(--color-secondary);
            gap: 0.2rem;
            i {
              color: var(--color-white);
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.3rem;
            }
          }
        }
      }
      .contact-icon {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        justify-content: center;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-white);
          background-color: var(--color-primary);
          width: 50px;
          height: 50px;
          border-radius: 25%;
          transition: var(--var-transition);
          font-size: 2rem;
          &:hover {
            background-color: var(--color-black);
            i {
              color: var(--color-light-coral);
            }
          }
        }
      }
    }
    .right-contact {
      flex: 3;
      padding: 0.5rem;
      .input-control {
        margin: 1.5rem 0;
        input,
        textarea {
          border-end-end-radius: 30px;
          border-start-start-radius: 30px;
          font-weight: inherit;
          font-size: 1.2rem;
          font-family: inherit;
          padding: 0.8rem 1.1rem;
          outline: none;
          border: none;
          background-color: var(--color-primary);
          width: 100%;
          color: var(--color-white);
          resize: none;
          &:focus {
            box-shadow: 1px 1px 20px var(--color-secondary);
          }
        }
      }
      .i-c-2 {
        display: flex;
        gap: 1.5rem;
      }
    }
  }
}

/* INDEPENDENT ELEMENTS */
.btn-con {
  display: flex;
  align-self: flex-start;
  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-teal);
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    .btn-text {
      padding: 0 2rem;
      z-index: 2;
      color: var(--color-white);
    }
    .btn-icon {
      background-color: var(--color-teal);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      padding: 1.2rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all 0.3s ease-in-out;
      z-index: 0;
    }
    &:hover {
      box-shadow: 1px 1px 20px var(--color-secondary);
      &::before {
        width: 100%;
        height: 100%;
        background-color: var(--color-teal);
        transform: translateX(0);
      }
    }
  }
}

// SCROLL BAR EDIT //
.tech-stacks-container::-webkit-scrollbar {
  height: 12px;
}

.main-right-div::-webkit-scrollbar {
  width: 12px;
}

.tech-stacks-container::-webkit-scrollbar-track,
.main-right-div::-webkit-scrollbar-track {
  background-color: var(--color-black);
  border-radius: 10px;
}

.tech-stacks-container::-webkit-scrollbar-thumb,
.main-right-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-teal);
}

@import "./media";
