* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #222831;
  --color-secondary: #00fff5;
  --color-grey: #393e46;
  --color-teal: #00adb5;
  --color-white: #fff;
  --color-black: #000;
  --color-light-coral: #f08080;
  --var-transition: all 0.3s ease-in-out;
}

/* MAIN (INDEX) */
.main {
  display: flex;
  padding: 3rem;
  background-color: var(--color-primary);
  gap: 1.5rem;
}
.main .main-left-div {
  border-radius: 20px;
  background-color: var(--color-grey);
  padding: 1.2rem;
  height: 90vh;
  max-height: -moz-max-content;
  max-height: max-content;
}
.main .main-left-div .main-left-div-upper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.main .main-left-div .main-left-div-upper .my-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.main .main-left-div .main-left-div-upper .my-info .my-img {
  transition: var(--var-transition);
  max-width: 300px;
  min-width: 50px;
}
.main .main-left-div .main-left-div-upper .my-info .my-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--var-transition);
  filter: grayscale(100%);
}
.main .main-left-div .main-left-div-upper .my-info .my-img img:hover {
  padding: 0.8rem;
  background-color: var(--color-teal);
  filter: grayscale(0);
  border-radius: 5px;
}
.main .main-left-div .main-left-div-upper .my-info .my-name {
  color: var(--color-secondary);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .my-info .my-name:hover {
  transform: translateY(-5px);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.main .main-left-div .main-left-div-upper .connect-links .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.main .main-left-div .main-left-div-upper .connect-links .hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: var(--color-secondary);
  margin: 4px 0;
}
.main .main-left-div .main-left-div-upper .connect-links .connect {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 25%;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links svg {
  padding: 0.2rem;
  fill: var(--color-white);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover {
  background-color: var(--color-black);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover i {
  color: var(--color-light-coral);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover svg {
  fill: var(--color-light-coral);
  transition: var(--var-transition);
}
.main .main-right-div {
  border-radius: 20px;
  background-color: var(--color-grey);
  overflow-y: auto;
  height: 90vh;
}
.main .main-right-div .nav {
  display: flex;
}
.main .main-right-div .nav .nav-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-right-div .nav .nav-left .main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5rem 0.3rem;
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.main .main-right-div .nav .nav-left .main-title h2 .current-title {
  color: var(--color-secondary);
  word-spacing: 0.5rem;
}
.main .main-right-div .nav .nav-right {
  flex: 2;
  background-color: var(--color-primary);
  border-end-start-radius: 20px;
  border-start-end-radius: 20px;
  display: flex;
}
.main .main-right-div .nav .nav-right .hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.main .main-right-div .nav .nav-right .hamburger-icon .bar {
  width: 40px;
  height: 4px;
  background-color: var(--color-secondary);
  margin: 4px 0;
}
.main .main-right-div .nav .nav-right .nav-right-links {
  width: 100%;
  display: flex;
  border-end-start-radius: 20px;
  border-start-end-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
.main .main-right-div .nav .nav-right .nav-right-links .nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
  transform: scale(1);
  transition: var(--var-transition);
  cursor: pointer;
}
.main .main-right-div .nav .nav-right .nav-right-links .nav-items:hover {
  transform: scale(1.15);
  transition: var(--var-transition);
  color: var(--color-light-coral);
}

/* HOME PAGE */
.home-section .header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 75vh;
}
.home-section .header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.home-section .header-content .left-header .h-shape {
  transition: var(--var-transition);
  width: 100%;
  background-color: var(--color-light-coral);
  position: absolute;
  -webkit-clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
  height: 100%;
}
.home-section .header-content .left-header .image {
  margin: 1rem 4rem;
  transition: var(--var-transition);
  width: 80%;
}
.home-section .header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.home-section .header-content .left-header:hover img {
  filter: grayscale(0);
}
.home-section .header-content .left-header:hover .h-shape {
  background-color: var(--color-primary);
}
.home-section .header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  color: var(--color-white);
}
.home-section .header-content .right-header .name {
  font-size: 3rem;
}
.home-section .header-content .right-header .name span {
  color: var(--color-secondary);
}
.home-section .header-content .right-header p {
  margin: 1rem;
  padding: 0.8rem 0.2rem;
  line-height: 1.5rem;
}
.home-section .header-content .right-header p span {
  color: var(--color-secondary);
  font-weight: 600;
}

/* ABOUT PAGE */
.about-section {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-section .about-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 2rem;
}
.about-section .about-container .left-about p {
  padding: 0.2rem 1rem 1rem 1rem;
  color: var(--color-white);
}
.about-section .about-container .left-about p span {
  font-weight: 600;
  color: var(--color-secondary);
}
.about-section .about-container .left-about .resume-download {
  font-size: 1.2rem;
}
.about-section .about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.about-section .about-container .right-about .about-item {
  box-shadow: 1px 2px 15px var(--color-primary);
  border-radius: 10px;
  transition: var(--var-transition);
  display: flex;
}
.about-section .about-container .right-about .about-item .abt-icon {
  width: 30%;
  background-color: var(--color-primary);
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}
.about-section .about-container .right-about .about-item .abt-icon img {
  width: 100%;
  padding: 1rem 0.4rem;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.about-section .about-container .right-about .about-item .abt-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.4rem;
}
.about-section .about-container .right-about .about-item .abt-text .large-text {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-section .about-container .right-about .about-item .abt-text .small-text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-teal);
}
.about-section .about-container .right-about .about-item:hover {
  cursor: default;
  transform: scale(1.02);
  transition: var(--var-transition);
  box-shadow: 1px 2px 15px var(--color-secondary);
}
.about-section .about-container .right-about .about-item:hover img {
  filter: grayscale(0);
  transition: var(--var-transition);
  transform: translateY(-10px);
}
.about-section .tech-stacks {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.about-section .tech-stacks .tech-stacks-title {
  color: var(--color-secondary);
}
.about-section .tech-stacks .tech-stacks-outer-container {
  align-self: center;
  max-width: 75%;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  overflow-x: auto;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item {
  scroll-snap-align: start;
  min-width: 30%;
  cursor: pointer;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item img {
  max-width: 100%;
  filter: grayscale(1);
  transition: var(--var-transition);
  padding: 5px;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item img:hover {
  filter: grayscale(0);
  transform: translateY(-5px);
  transition: var(--var-transition);
}
.about-section .timeline {
  border-radius: 20px;
  padding: 1rem;
}
.about-section .timeline .stat-title {
  color: var(--color-secondary);
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
.about-section .timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 2px solid var(--color-black);
}
.about-section .timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 10px;
  background-color: var(--color-teal);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .timeline .timeline-item .tl-icon i {
  font-size: 1.4rem;
}
.about-section .timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-teal);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10px;
}
.about-section .timeline .timeline-item h5 {
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
}
.about-section .timeline .timeline-item h5 span {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1.2rem;
}
.about-section .timeline .timeline-item p {
  color: var(--color-white);
}
.about-section .timeline .timeline-item .hover-items {
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: var(--color-teal);
  top: 0;
  border-end-end-radius: 15px;
  border-start-start-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: var(--var-transition);
}
.about-section .timeline .timeline-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}
.about-section .timeline .timeline-item .hover-items .icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--var-transition);
}
.about-section .timeline .timeline-item .hover-items .icon i {
  font-size: 2rem;
  color: var(--color-teal);
  margin: 0 1rem;
}
.about-section .timeline .timeline-item .hover-items .icon:hover {
  transform: scale(1.2);
}
.about-section .timeline .timeline-item .hover-items .icon:hover i {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.about-section .timeline .timeline-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/* PORTFOLIO PAGE */
.portfolio-section .portfolios {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.portfolio-section .portfolios .portfolio-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-start-end-radius: 15px;
  border-end-start-radius: 15px;
  padding: 1rem;
  background-color: var(--color-primary);
  transition: var(--var-transition);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image img {
  max-width: 100%;
  max-height: 100%;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  transition: var(--var-transition);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items p {
  color: var(--color-secondary);
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color-primary);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon {
  background-color: var(--color-secondary);
  border-radius: 25%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon i {
  font-size: 1.8rem;
  color: var(--color-grey);
  margin: 0 1rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon:hover {
  background-color: var(--color-grey);
  transform: scale(1.12);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon:hover i {
  color: var(--color-secondary);
  transform: scale(1.12);
  transition: all 0.3s ease-in-out;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about {
  padding: 0.5rem 1rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about h3 {
  color: var(--color-white);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  transition: var(--var-transition);
  cursor: pointer;
  color: var(--color-teal);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about span {
  font-size: 1rem;
  color: var(--color-secondary);
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  font-weight: 700;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about p {
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  color: var(--color-white);
}
.portfolio-section .portfolios .portfolio-item:hover {
  transition: var(--var-transition);
  box-shadow: 1px 1px 20px var(--color-secondary);
  transform: translateY(-10px);
  border-start-end-radius: 0;
  border-end-start-radius: 0;
  border-start-start-radius: 15px;
  border-end-end-radius: 15px;
  cursor: pointer;
}
.portfolio-section .portfolios .portfolio-item:hover .hover-items {
  transition: var(--var-transition);
  opacity: 1;
}
.portfolio-section .portfolios .portfolio-item:hover img {
  transition: var(--var-transition);
  opacity: 0.8;
  filter: grayscale(0);
}
.portfolio-section .portfolios .portfolio-item:hover h3 {
  transform: translateX(-5px);
  color: var(--color-secondary);
}

/* CERTIFICATION PAGE */
.certification-section {
  padding: 1rem;
}
.certification-section .trainings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.certification-section .trainings .training {
  position: relative;
  background-color: var(--color-primary);
  border-start-end-radius: 15px;
  border-end-start-radius: 15px;
  transition: var(--var-transition);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.certification-section .trainings .training img {
  max-width: 100%;
  max-height: 100%;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  filter: grayscale(1);
  transition: var(--var-transition);
}
.certification-section .trainings .training .training-text {
  padding: 1.1rem;
}
.certification-section .trainings .training .training-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: var(--var-transition);
  cursor: pointer;
  color: var(--color-teal);
}
.certification-section .trainings .training .training-text p {
  color: var(--color-white);
  line-height: 1.5rem;
}
.certification-section .trainings .training .training-text p span {
  font-weight: 700;
  color: var(--color-secondary);
}
.certification-section .trainings .training:hover {
  box-shadow: 1px 1px 20px var(--color-secondary);
  transform: translateY(-10px);
  transition: var(--var-transition);
  border-start-start-radius: 15px;
  border-end-end-radius: 15px;
  border-start-end-radius: 0;
  border-end-start-radius: 0;
}
.certification-section .trainings .training:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
  box-shadow: 0px 4px 15px var(--color-white);
}
.certification-section .trainings .training:hover .training-text h4 {
  transform: translateY(-5px);
  color: var(--color-secondary);
}

/* CONTACT PAGE */
.contact-section {
  padding: 1rem;
}
.contact-section .contact-content-con {
  display: flex;
  gap: 1.5rem;
}
.contact-section .contact-content-con .left-contact {
  flex: 2;
  padding: 0.5rem 1rem;
}
.contact-section .contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}
.contact-section .contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  font-weight: 700;
  color: white;
}
.contact-section .contact-content-con .left-contact p span {
  color: var(--color-secondary);
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0 !important;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  color: var(--color-secondary);
  gap: 0.2rem;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item .icon i {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.contact-section .contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
}
.contact-section .contact-content-con .left-contact .contact-icon a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 25%;
  transition: var(--var-transition);
  font-size: 2rem;
}
.contact-section .contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-black);
}
.contact-section .contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-light-coral);
}
.contact-section .contact-content-con .right-contact {
  flex: 3;
  padding: 0.5rem;
}
.contact-section .contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-section .contact-content-con .right-contact .input-control input,
.contact-section .contact-content-con .right-contact .input-control textarea {
  border-end-end-radius: 30px;
  border-start-start-radius: 30px;
  font-weight: inherit;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-section .contact-content-con .right-contact .input-control input:focus,
.contact-section .contact-content-con .right-contact .input-control textarea:focus {
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.contact-section .contact-content-con .right-contact .i-c-2 {
  display: flex;
  gap: 1.5rem;
}

/* INDEPENDENT ELEMENTS */
.btn-con {
  display: flex;
  align-self: flex-start;
}
.btn-con .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-teal);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.btn-con .main-btn .btn-text {
  padding: 0 2rem;
  z-index: 2;
  color: var(--color-white);
}
.btn-con .main-btn .btn-icon {
  background-color: var(--color-teal);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 1.2rem;
}
.btn-con .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.btn-con .main-btn:hover {
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.btn-con .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-teal);
  transform: translateX(0);
}

/* SCROLL BAR EDIT */
.tech-stacks-container::-webkit-scrollbar {
  height: 12px;
}

.main-right-div::-webkit-scrollbar {
  width: 12px;
}

.tech-stacks-container::-webkit-scrollbar-track,
.main-right-div::-webkit-scrollbar-track {
  background-color: var(--color-black);
  border-radius: 10px;
}

.tech-stacks-container::-webkit-scrollbar-thumb,
.main-right-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-teal);
}

@media (max-width: 1250px) {
  .main {
    flex-direction: column;
    gap: 1rem;
  }
  .main .main-left-div {
    height: -moz-max-content;
    height: max-content;
    padding: 0.4rem;
  }
  .main .main-left-div .main-left-div-upper {
    flex-direction: row;
    justify-content: space-between;
  }
  .main .main-left-div .main-left-div-upper .my-info {
    flex-direction: row;
    padding: 0 0.5rem;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img {
    max-width: 220px;
  }
  .main .main-left-div .main-left-div-upper .connect-links {
    justify-content: center;
  }
  .main .main-right-div {
    height: auto;
  }
  .main .main-right-div .nav .nav-left {
    max-width: -moz-fit-content;
    max-width: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0 2rem;
  }
  .main .main-right-div .nav .nav-left .main-title h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1100px) {
  .main .main-left-div .main-left-div-upper {
    margin: auto;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .main .main-left-div .main-left-div-upper .my-info {
    padding: auto;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img {
    max-width: 150px;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img img:hover {
    padding: 0.5rem;
  }
  .about-section .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-section .about-container .right-about .about-item .abt-text .large-text {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 950px) {
  .main .main-right-div .nav .nav-right .nav-items {
    background-color: var(--color-grey);
    padding: 0.8rem;
    border-radius: 25%;
  }
  .main .main-right-div .nav .nav-right .nav-items i {
    font-size: larger;
  }
  .main .main-right-div .nav .nav-right .nav-items span {
    display: none;
  }
  .home-section .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
  }
  .home-section .header-content .left-header {
    justify-content: center;
  }
  .home-section .header-content .left-header .image {
    width: 50%;
  }
  .home-section .header-content .right-header {
    padding: 2rem 1.5rem;
  }
  .portfolio-section .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .certification-section .trainings {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section .contact-content-con {
    flex-direction: column;
  }
  .contact-section .contact-content-con .left-contact {
    border-bottom: 5px solid var(--color-teal);
  }
}
@media (max-width: 750px) {
  .main {
    padding: 1.5rem;
  }
  .main .main-left-div .main-left-div-upper .my-info {
    gap: 0.8rem;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img {
    max-width: 100px;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-name {
    font-size: 0.8rem;
  }
  .main .main-left-div .main-left-div-upper .connect-links {
    padding: 5px;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect {
    gap: 0.2rem;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    flex-direction: row;
    position: absolute;
    right: 100px;
    z-index: 2;
    transition: var(--var-transition);
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect.active {
    opacity: 1;
    max-width: 300px;
    transition: var(--var-transition);
  }
  .main .main-left-div .main-left-div-upper .connect-links .hamburger {
    display: flex;
  }
  .main .main-right-div .nav {
    flex-direction: column;
  }
  .main .main-right-div .nav .nav-left {
    align-self: center;
    padding: 0 1rem;
  }
  .main .main-right-div .nav .nav-left .main-title h2 {
    font-size: larger;
  }
  .main .main-right-div .nav .nav-right {
    padding: 0.2rem 0;
    border-end-start-radius: 0px;
    border-start-end-radius: 0px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
  }
  .about-section {
    padding: 1rem 1.5rem;
  }
  .about-section .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .about-section .about-container .right-about .about-item {
    justify-self: center;
    width: 90%;
  }
  .about-section .about-container .right-about .about-item .abt-icon {
    width: 25%;
  }
  .about-section .about-container .right-about .about-item .abt-text {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .about-section .about-container .right-about .about-item .abt-text .large-text {
    padding: 0;
    font-size: x-large;
  }
  .portfolio-section .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
  .certification-section .trainings {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 450px) {
  .main .main-left-div .main-left-div-upper .my-info {
    gap: 0.4rem;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-name {
    font-size: 0.6rem;
  }
  .main .main-left-div .main-left-div-upper .connect-links {
    padding: 0;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect {
    right: 70px;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
    font-size: large;
  }
  .main .main-right-div .nav .nav-right {
    align-items: center;
    justify-content: flex-end;
    padding: 0.6rem 0;
  }
  .main .main-right-div .nav .nav-right .hamburger-icon .bar {
    width: 30px;
    height: 3px;
  }
  .main .main-right-div .nav .nav-right .nav-right-links {
    opacity: 0;
    overflow: hidden;
    max-width: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.2rem;
    z-index: 2;
    border-start-end-radius: 10px;
    position: absolute;
    right: 80px;
    transition: var(--var-transition);
  }
  .main .main-right-div .nav .nav-right .nav-right-links.second-active {
    opacity: 1;
    max-width: 300px;
    transition: var(--var-transition);
  }
  .main .main-right-div .nav .nav-right .hamburger-icon {
    margin-right: 1rem;
    display: flex;
  }
  .main .main-right-div .nav .nav-right .nav-items {
    padding: 0.6rem;
  }
  .main .main-right-div .nav .nav-right .nav-items i {
    font-size: large;
  }
  .about-section .about-container {
    padding: 0;
  }
  .about-section .about-container .right-about .about-item .abt-text .small-text {
    font-size: large;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item p {
    font-size: 0.8rem;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item .icon span {
    display: none;
  }
  .contact-section .contact-content-con .left-contact .contact-icon {
    gap: 0.5rem;
  }
  .contact-section .contact-content-con .left-contact .contact-icon a {
    padding: 0.5rem;
    font-size: x-large;
  }
  .contact-section .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */