* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #222831;
  --color-secondary: #00fff5;
  --color-grey: #393e46;
  --color-teal: #00adb5;
  --color-white: #fff;
  --color-black: #000;
  --color-light-coral: #f08080;
  --var-transition: all 0.3s ease-in-out;
}

/* MAIN (INDEX) */
.main {
  display: flex;
  padding: 3rem;
  background-color: var(--color-primary);
  gap: 1.5rem;
  height: 100vh;
}
.main .main-left-div {
  border-radius: 20px;
  flex: 10%;
  background-color: var(--color-grey);
  padding: 1.2rem;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.main .main-left-div .main-left-div-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.main .main-left-div .main-left-div-upper .my-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.main .main-left-div .main-left-div-upper .my-info .my-img {
  padding: 0.6rem;
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .my-info .my-img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--var-transition);
  filter: grayscale(100%);
}
.main .main-left-div .main-left-div-upper .my-info .my-img img:hover {
  padding: 1rem;
  background-color: var(--color-teal);
  filter: grayscale(0);
}
.main .main-left-div .main-left-div-upper .my-info .my-name {
  color: var(--color-secondary);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .my-info .my-name:hover {
  transform: translateY(-5px);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 20px;
}
.main .main-left-div .main-left-div-upper .connect-links .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.main .main-left-div .main-left-div-upper .connect-links .hamburger .bar {
  width: 50px;
  height: 5px;
  background-color: var(--color-secondary);
  margin: 4px 0;
}
.main .main-left-div .main-left-div-upper .connect-links .connect {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 25%;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links svg {
  padding: 0.2rem;
  fill: var(--color-white);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover {
  background-color: var(--color-black);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover i {
  color: var(--color-light-coral);
  transition: var(--var-transition);
}
.main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links:hover svg {
  fill: var(--color-light-coral);
  transition: var(--var-transition);
}
.main .main-right-div {
  flex: 75%;
  border-radius: 20px;
  background-color: var(--color-grey);
  overflow-y: auto;
  height: 90vh;
}
.main .main-right-div .nav {
  display: flex;
}
.main .main-right-div .nav .nav-left {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-right-div .nav .nav-left .main-title {
  text-align: center;
}
.main .main-right-div .nav .nav-left .main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5rem 0.3rem;
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.main .main-right-div .nav .nav-left .main-title h2 .current-title {
  color: var(--color-secondary);
  word-spacing: 0.5rem;
}
.main .main-right-div .nav .nav-right {
  flex: 60%;
  background-color: var(--color-primary);
  border-end-start-radius: 20px;
  border-start-end-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.main .main-right-div .nav .nav-right .hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.main .main-right-div .nav .nav-right .hamburger-icon .bar {
  width: 50px;
  height: 5px;
  background-color: var(--color-secondary);
  margin: 4px 0;
}
.main .main-right-div .nav .nav-right .nav-right-links {
  width: 100%;
  display: flex;
  border-end-start-radius: 20px;
  border-start-end-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
.main .main-right-div .nav .nav-right .nav-right-links .nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.2rem;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main .main-right-div .nav .nav-right .nav-right-links .nav-items:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
  color: var(--color-light-coral);
}

/* HOME PAGE */
.home-section .header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 75vh;
}
.home-section .header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.home-section .header-content .left-header .h-shape {
  transition: var(--var-transition);
  width: 65%;
  background-color: var(--color-light-coral);
  position: absolute;
  -webkit-clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 36% 0, 100% 100%, 0% 100%);
  height: 100%;
}
.home-section .header-content .left-header .image {
  height: 90%;
  width: 70%;
  margin: 0 4rem;
  transition: var(--var-transition);
}
.home-section .header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.home-section .header-content .left-header:hover img {
  filter: grayscale(0);
}
.home-section .header-content .left-header:hover .h-shape {
  background-color: var(--color-primary);
}
.home-section .header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  color: var(--color-white);
}
.home-section .header-content .right-header .name {
  font-size: 3rem;
}
.home-section .header-content .right-header .name span {
  color: var(--color-secondary);
}
.home-section .header-content .right-header p {
  margin: 1rem;
  padding: 0.8rem 0.2rem;
  line-height: 1.5rem;
}
.home-section .header-content .right-header p span {
  color: var(--color-secondary);
  font-weight: 600;
}

/* ABOUT PAGE */
.about-section {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-section .about-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 2rem;
}
.about-section .about-container .left-about p {
  padding: 0.2rem 1rem 1rem 1rem;
  color: var(--color-white);
}
.about-section .about-container .left-about p span {
  font-weight: 600;
  color: var(--color-secondary);
}
.about-section .about-container .left-about .resume-download {
  font-size: 1.2rem;
}
.about-section .about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
.about-section .about-container .right-about .about-item {
  box-shadow: 1px 2px 15px var(--color-primary);
  border-radius: 10px;
  transition: var(--var-transition);
  display: flex;
}
.about-section .about-container .right-about .about-item:hover {
  cursor: default;
  transform: scale(1.02);
  transition: var(--var-transition);
  box-shadow: 1px 2px 15px var(--color-secondary);
}
.about-section .about-container .right-about .about-item .abt-icon {
  width: 30%;
  background-color: var(--color-primary);
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}
.about-section .about-container .right-about .about-item .abt-icon img {
  width: 100%;
  padding: 1rem 0.4rem;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.about-section .about-container .right-about .about-item .abt-icon:hover img {
  filter: grayscale(0);
  transition: var(--var-transition);
  transform: translateY(-10px);
}
.about-section .about-container .right-about .about-item .abt-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.4rem;
}
.about-section .about-container .right-about .about-item .abt-text .large-text {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-section .about-container .right-about .about-item .abt-text .small-text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-teal);
}
.about-section .tech-stacks {
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.about-section .tech-stacks .tech-stacks-title {
  color: var(--color-secondary);
}
.about-section .tech-stacks .tech-stacks-outer-container {
  align-self: center;
  max-width: 75%;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  overflow-x: auto;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item {
  scroll-snap-align: start;
  min-width: 30%;
  cursor: pointer;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item img {
  max-width: 100%;
  filter: grayscale(1);
  transition: var(--var-transition);
  padding: 5px;
}
.about-section .tech-stacks .tech-stacks-outer-container .tech-stacks-container .tech-stacks-item img:hover {
  filter: grayscale(0);
  transform: translateY(-5px);
  transition: var(--var-transition);
}
.about-section .timeline {
  border-radius: 20px;
  padding: 1rem;
}
.about-section .timeline .stat-title {
  color: var(--color-secondary);
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
.about-section .timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 2px solid var(--color-black);
}
.about-section .timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 10px;
  background-color: var(--color-teal);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .timeline .timeline-item .tl-icon i {
  font-size: 1.4rem;
}
.about-section .timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-teal);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 10px;
}
.about-section .timeline .timeline-item h5 {
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
}
.about-section .timeline .timeline-item h5 span {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1.2rem;
}
.about-section .timeline .timeline-item p {
  color: var(--color-white);
}
.about-section .timeline .timeline-item .hover-items {
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: var(--color-teal);
  top: 0;
  border-end-end-radius: 15px;
  border-start-start-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: var(--var-transition);
}
.about-section .timeline .timeline-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}
.about-section .timeline .timeline-item .hover-items .icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--var-transition);
}
.about-section .timeline .timeline-item .hover-items .icon i {
  font-size: 2rem;
  color: var(--color-teal);
  margin: 0 1rem;
}
.about-section .timeline .timeline-item .hover-items .icon:hover {
  transform: scale(1.2);
}
.about-section .timeline .timeline-item .hover-items .icon:hover i {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.about-section .timeline .timeline-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/* PORTFOLIO PAGE */
.portfolio-section .port-text {
  padding: 1rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-white);
}
.portfolio-section .portfolios {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.portfolio-section .portfolios .portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image {
  position: relative;
  transition: var(--var-transition);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: var(--var-transition);
  filter: grayscale(1);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  transition: var(--var-transition);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items p {
  color: var(--color-secondary);
  font-weight: bolder;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--color-primary);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon {
  background-color: var(--color-secondary);
  border-radius: 25%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon i {
  font-size: 1.8rem;
  color: var(--color-grey);
  margin: 0 1rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon:hover {
  background-color: var(--color-grey);
  transform: scale(1.12);
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon:hover i {
  color: var(--color-secondary);
  transform: scale(1.12);
  transition: all 0.3s ease-in-out;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image:hover {
  background-color: var(--color-primary);
  transition: var(--var-transition);
  box-shadow: 1px 1px 20px var(--color-secondary);
  cursor: pointer;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image:hover .hover-items {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-image:hover img {
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  filter: grayscale(0);
  padding: 0.4rem 0.8rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about {
  padding: 0.5rem 1rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about h3 {
  color: var(--color-white);
  font-size: 1.8rem;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about span {
  font-size: 1rem;
  color: var(--color-black);
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  font-weight: 600;
}
.portfolio-section .portfolios .portfolio-item .portfolio-item-about p {
  letter-spacing: 1.5px;
  color: var(--color-white);
}

/* CERTIFICATION PAGE */
.certification-section {
  padding: 1rem;
}
.certification-section .trainings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.certification-section .trainings .training {
  position: relative;
  background-color: var(--color-primary);
  border-start-end-radius: 15px;
  border-end-start-radius: 15px;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.certification-section .trainings .training img {
  max-width: 100%;
  max-height: 100%;
  border-end-end-radius: 20px;
  border-start-start-radius: 20px;
  filter: grayscale(1);
  transition: var(--var-transition);
}
.certification-section .trainings .training .training-text {
  padding: 1.1rem;
}
.certification-section .trainings .training .training-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: var(--var-transition);
  cursor: pointer;
  color: var(--color-teal);
}
.certification-section .trainings .training .training-text p {
  color: var(--color-white);
  line-height: 1.5rem;
}
.certification-section .trainings .training .training-text p span {
  font-weight: 700;
  color: var(--color-secondary);
}
.certification-section .trainings .training:hover {
  box-shadow: 1px 1px 20px var(--color-secondary);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  border-start-start-radius: 15px;
  border-end-end-radius: 15px;
  border-start-end-radius: 0;
  border-end-start-radius: 0;
}
.certification-section .trainings .training:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
  box-shadow: 0px 4px 15px var(--color-white);
}
.certification-section .trainings .training:hover .training-text h4 {
  transform: translateY(-5px);
  color: var(--color-secondary);
}

/* CONTACT PAGE */
.contact-section {
  padding: 1rem;
}
.contact-section .contact-content-con {
  display: flex;
  gap: 1.5rem;
}
.contact-section .contact-content-con .left-contact {
  flex: 2;
  padding: 0.5rem 1rem;
}
.contact-section .contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}
.contact-section .contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  font-weight: 700;
  color: white;
}
.contact-section .contact-content-con .left-contact p span {
  color: var(--color-secondary);
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  color: var(--color-secondary);
  gap: 0.2rem;
}
.contact-section .contact-content-con .left-contact .contact-info .contact-item .icon i {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.contact-section .contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  justify-content: center;
}
.contact-section .contact-content-con .left-contact .contact-icon a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 25%;
  transition: var(--var-transition);
  font-size: 2rem;
}
.contact-section .contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-black);
}
.contact-section .contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-light-coral);
}
.contact-section .contact-content-con .right-contact {
  flex: 3;
  padding: 0.5rem;
}
.contact-section .contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-section .contact-content-con .right-contact .input-control input,
.contact-section .contact-content-con .right-contact .input-control textarea {
  border-end-end-radius: 30px;
  border-start-start-radius: 30px;
  font-weight: inherit;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-section .contact-content-con .right-contact .input-control input:focus,
.contact-section .contact-content-con .right-contact .input-control textarea:focus {
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.contact-section .contact-content-con .right-contact .i-c-2 {
  display: flex;
  gap: 1.5rem;
}

/* INDEPENDENT ELEMENTS */
.btn-con {
  display: flex;
  align-self: flex-start;
}
.btn-con .main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-teal);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}
.btn-con .main-btn .btn-text {
  padding: 0 2rem;
  z-index: 2;
  color: var(--color-white);
}
.btn-con .main-btn .btn-icon {
  background-color: var(--color-teal);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 1.2rem;
}
.btn-con .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.btn-con .main-btn:hover {
  box-shadow: 1px 1px 20px var(--color-secondary);
}
.btn-con .main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-teal);
  transform: translateX(0);
}

.tech-stacks-container::-webkit-scrollbar {
  height: 12px;
}

.main-right-div::-webkit-scrollbar {
  width: 12px;
}

.tech-stacks-container::-webkit-scrollbar-track,
.main-right-div::-webkit-scrollbar-track {
  background-color: var(--color-black);
  border-radius: 10px;
}

.tech-stacks-container::-webkit-scrollbar-thumb,
.main-right-div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-teal);
}

@media screen and (max-width: 1500px) {
  /* MAIN (INDEX) */
  .main {
    flex-direction: column;
  }
  .main .main-left-div {
    flex: 10%;
  }
  .main .main-left-div .main-left-div-upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0.5rem;
  }
  .main .main-left-div .main-left-div-upper .my-info {
    flex-direction: row;
    gap: 1.2rem;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img {
    width: 20vw;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-img img:hover {
    padding: 0.4rem;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-name {
    font-size: 1.5rem;
  }
  .main .main-left-div .main-left-div-upper .connect-links {
    justify-self: flex-end;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
  }
  .main .main-right-div .nav .nav-right .nav-items {
    background-color: var(--color-grey);
    width: 50px;
    height: 50px;
    border-radius: 25%;
    transition: var(--var-transition);
  }
  .main .main-right-div .nav .nav-right .nav-items i {
    font-size: 2rem;
  }
  .main .main-right-div .nav .nav-right .nav-items:hover {
    transform: scale(1.15);
    color: var(--color-light-coral);
    transition: var(--var-transition);
  }
  .main .main-right-div .nav .nav-right .nav-items span {
    display: none;
  }
  /* HOME PAGE */
  .home-section .header-content .left-header .image {
    height: 90%;
    width: 100%;
  }
  .home-section .header-content .right-header {
    display: flex;
    gap: 1rem;
  }
  .home-section .header-content .right-header .name {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .home-section .header-content .right-header p {
    flex: 1;
    font-size: 2rem;
    word-spacing: 0.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 1200px) {
  /* MAIN INDEX */
  .main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
    width: 70px;
    height: 70px;
    font-size: 2.2rem;
  }
  /* HOME PAGE */
  .home-section .header-content {
    display: flex;
    flex-direction: column;
  }
  .home-section .header-content .left-header {
    padding: 3rem;
  }
  .home-section .header-content .right-header .name {
    display: block;
  }
  .home-section .header-content .right-header p {
    padding: 1rem;
  }
  /* ABOUT PAGE */
  .about-section .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-section .about-container .left-about p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
  .about-section .about-container .right-about .about-item .abt-text .large-text {
    padding: 2rem 0 0 3rem;
    font-size: 3rem;
  }
  .about-section .about-container .right-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    font-size: 1.5rem;
  }
  /* PORTFOLIO PAGE */
  .portfolio-section .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items p {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon {
    width: 70px;
    height: 70px;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-image .hover-items .icons .icon i {
    font-size: 3rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about h3 {
    font-size: 2.2rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about span {
    font-size: 1.3rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about p {
    font-size: 1.2rem;
  }
  /* CERTIFICATIONS PAGE */
  .certification-section .trainings {
    grid-template-columns: repeat(2, 1fr);
  }
  .certification-section .trainings .training .training-text h4 {
    font-size: 2rem;
  }
  .certification-section .trainings .training .training-text p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /* CONTACT PAGE */
  .contact-section .contact-content-con {
    flex-direction: column;
  }
  .contact-section .contact-content-con .left-contact {
    border-bottom: 5px solid var(--color-teal);
  }
  .contact-section .contact-content-con .left-contact h4 {
    font-size: 2.5rem;
  }
  .contact-section .contact-content-con .left-contact p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .contact-section .contact-content-con .left-contact p span {
    font-weight: 700;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item p {
    font-size: 1.5rem;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item .icon {
    font-size: 1.6rem;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item .icon i {
    font-size: 1.6rem;
  }
  .contact-section .contact-content-con .left-contact .contact-icon a {
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
  }
  .contact-section .contact-content-con .right-contact .input-control input,
  .contact-section .contact-content-con .right-contact .input-control textarea {
    font-size: 1.6rem;
    padding: 1.2rem 1.4rem;
  }
  .contact-section .contact-content-con .right-contact .submit-btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .main .main-left-div .main-left-div-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
  }
  .main .main-left-div .main-left-div-upper .my-info {
    width: 100%;
  }
  .main .main-left-div .main-left-div-upper .my-info .my-name {
    font-size: 2rem;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    right: 85px;
    top: 180px;
    z-index: 1;
    border-radius: 10px;
    width: 10%;
    transition: var(--var-transition);
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect .connect-items .connect-item-links {
    width: 70px;
    height: 70px;
    font-size: 2.2rem;
  }
  .main .main-left-div .main-left-div-upper .connect-links .connect.active {
    opacity: 1;
    max-height: 500px;
    background-color: var(--color-teal);
    transition: var(--var-transition);
  }
  .main .main-left-div .main-left-div-upper .connect-links .hamburger {
    display: flex;
  }
  .about-section .about-container .left-about .resume-download {
    font-size: 1.5rem;
  }
  .about-section .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-section .about-container .right-about .about-item .abt-text .large-text {
    font-size: 3.2rem;
  }
  .about-section .about-container .right-about .about-item .abt-text .small-text {
    font-size: 2rem;
  }
  .about-section .tech-stacks .tech-stacks-title {
    font-size: 1.5rem;
  }
  .about-section .timeline .stat-title {
    font-size: 1.5rem;
  }
  .about-section .timeline .timeline-item .tl-icon {
    width: 60px;
    height: 60px;
    border-radius: 25%;
  }
  .about-section .timeline .timeline-item .tl-icon i {
    font-size: 2rem;
  }
  .about-section .timeline .timeline-item .tl-duration {
    font-size: 1.5rem;
  }
  .about-section .timeline .timeline-item h5 {
    font-size: 1.8rem;
  }
  .about-section .timeline .timeline-item h5 span {
    font-size: 1.5rem;
  }
  .about-section .timeline .timeline-item p {
    font-size: 1.4rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
  }
  .portfolio-section .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-section .portfolios .portfolio-item {
    padding: 1rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about h3 {
    font-size: 2.2rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about span {
    font-size: 1.5rem;
  }
  .portfolio-section .portfolios .portfolio-item .portfolio-item-about p {
    font-size: 1.5rem;
  }
  .certification-section .trainings {
    grid-template-columns: repeat(1, 1fr);
  }
  .certification-section .trainings .training {
    padding: 2rem;
  }
  .certification-section .trainings .training .training-text h4 {
    font-size: 2.5rem;
  }
  .certification-section .trainings .training .training-text p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .contact-section .contact-content-con {
    flex-direction: column;
  }
  .contact-section .contact-content-con .left-contact {
    border-bottom: 5px solid var(--color-teal);
  }
  .contact-section .contact-content-con .left-contact h4 {
    font-size: 3rem;
  }
  .contact-section .contact-content-con .left-contact p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .contact-section .contact-content-con .left-contact p span {
    font-weight: 700;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item p {
    font-size: 1.8rem;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item .icon {
    font-size: 1.9rem;
  }
  .contact-section .contact-content-con .left-contact .contact-info .contact-item .icon i {
    font-size: 1.9rem;
  }
  .contact-section .contact-content-con .left-contact .contact-icon a {
    width: 90px;
    height: 90px;
    font-size: 3rem;
  }
  .contact-section .contact-content-con .right-contact .input-control input,
  .contact-section .contact-content-con .right-contact .input-control textarea {
    font-size: 2rem;
    padding: 1.5rem 1.8rem;
  }
  .contact-section .contact-content-con .right-contact .submit-btn {
    font-size: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .main .main-left-div .main-left-div-upper .connect-links .connect {
    width: 15%;
  }
  .main .main-right-div .nav .nav-right {
    align-items: center;
    justify-content: center;
  }
  .main .main-right-div .nav .nav-right .nav-right-links {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
    border-radius: 10px;
    gap: 1rem;
    position: absolute;
    top: 20rem;
    width: 10%;
    transition: var(--var-transition);
    background-color: var(--color-primary);
    padding: 1rem;
  }
  .main .main-right-div .nav .nav-right .nav-right-links.second-active {
    opacity: 1;
    max-height: 500px;
    background-color: var(--color-teal);
    transition: var(--var-transition);
  }
  .main .main-right-div .nav .nav-right .hamburger-icon {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */